h1{
    color: red;
    background-color: gold;
    text-align: center;
    font-weight: bold;
    text-decoration: green dotted underline;
    font-size: 50px;
    font-family:  Arial, sans-serif;
}
a{
    text-decoration: none;
}
p{
    line-height: 2;
    letter-spacing: 0.1px;
}
*{
    color: red;
    background-color: antiquewhite;
    
}
#photo{
    color: chartreuse;
    background-color: black;
}
.ss{
    color: gold;
    background-color: lightslategray;
}
div a {
    color: red;
}
p + h3{
    color: aqua;
}
h3{
    color: aqua;
}